<div class="body-box">
  <div class="form-box">
    <div class="col-md-8 offset-md-2">
      <div class="form" >
        <div class="form-title row">
            <h2><%= t("layouts.header.password") %></h2>
          </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :password,
                        required: true,
                        label: false do %>
                          <div class="text-box">
                            <i class="fa fa-lock"></i>
                            <%= f.input_field :password,
                                              placeholder: t("user.password"),
                                              input_html: { autocomplete: "new-password" } %>
                          </div>
                        <% end %>
            <%= f.input :password_confirmation,
                        required: true,
                        label: false do %>
                          <div class="text-box">
                            <i class="fa fa-lock"></i>
                            <%= f.input_field :password_confirmation,
                                              placeholder: t("user.password_confirmation"),
                                              input_html: { autocomplete: "new-password" } %>
                          </div>
                        <% end %>
            <%= f.input :current_password,
                        required: true,
                        label: false do %>
                          <div class="text-box">
                            <i class="fa fa-lock"></i>
                            <%= f.input_field :current_password,
                                              placeholder: t("user.current_password"),
                                              input_html: { autocomplete: "current-password" } %>
                          </div>
                        <% end %>

            <%= f.button :submit, t("user.update"), class: "btn btn-success btn-sign-up" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
