<!-- Site footer -->
<footer class="site-footer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h6><%= t('layouts.footer.about') %></h6>
        <p class="text-justify">
          <%= t('layouts.footer.vision') %>
        </p>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="link-footer">
          <h6><%= t('layouts.footer.contact') %></h6>
          <div>
            <i class="fas fa-phone"></i>
            <span> <%= t('layouts.footer.phone') %> <%= link_to "(+84) 0123456789", "tel:0123456789" %></span>
          </div>
          <div>
            <i class="fas fa-envelope"></i>
            <span> Email: <%= link_to "jobup@gmail.com", "mailto:jobup@gmail.com", target: '_blank'  %></span>
          </div>
          <div>
            <i class="fas fa-map-marker-alt"></i>
            <span> <%= t('layouts.footer.location') %></span>
          </div>
        </div>
      </div>
    </div>

    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text"> 
          <%= t('layouts.footer.copyright') %> <span> &copy; </span>
          <%= link_to 'JobUp', root_path %>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><%= link_to '', 'https://www.facebook.com/sun.awesome.academy/', target: '_blank', class: "facebook fab fa-facebook" %></li>
          <li><%= link_to '', 'https://github.com/awesome-academy', target: '_blank', class: "github fab fa-github" %></li>
          <li><%= link_to '', 'https://www.instagram.com/awesomeacademyhn', target: '_blank', class: "instagram fab fa-instagram" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
