<div class="form-candidate">
  <%= simple_form_for(@candidate, html: { multipart: true }) do |f| %>

  <div class="col-md-12">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  </div>

    <div class="form-inputs">
      <%= f.input :avatar, as: :file, label: t('candidate.avatar') %>

      <%= f.simple_fields_for :user do |g| %>
        <div class="row">
          <div class="col-md-6">
            <%= g.input :first_name, label: t('user.first_name') %>
          </div>
          <div class="col-md-6">
            <%= g.input :last_name, label: t('user.last_name') %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= f.label :date_of_birth, label: t('candidate.dob') %>
          <div class="input-group date" id="datetimepicker">
            <%= f.text_field :date_of_birth,
                             value: (@candidate.date_of_birth.strftime("%d-%m-%Y") if @candidate.date_of_birth),
                            placeholder: t('candidate.edit.select_dob'),
                            class: "form-control" %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <%= f.input :phone, label: t('candidate.phone') %>
        </div>
      </div>

      <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-6">
          <%= f.input :profession, label: t('candidate.profession')%>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
        <%= f.input :website, label: t('candidate.website') %>
      </div>
      </div>

      <%= f.input :cv, as: :file, label: "CV" %>

    </div>

    <div class="form-actions">
      <%= f.button :submit,t('candidate.edit.update'), class: "btn btn-success"%>
    </div>
  <% end %>
</div>
