<div class="row">
  <%= render "layouts/messages" %>
  
  <div class="col-md-6 col-md-offset-3">
    <div class="card">

      <h2><%= t('candidate.show.profile') %></h2>

      <div class="avatar-show">
        <%= image_tag @candidate.avatar.url(:show), class: "image" %>
      </div>

      <h2><%= @candidate.user.first_name %> <%= @candidate.user.last_name %></h2>

      <h4><%= @candidate.date_of_birth %></h4>

      <h6><%= @candidate.phone %></h6>

      <%= link_to t('candidate.show.preview'), @candidate.cv.url, download: @candidate.cv.filename, target: '_blank' %>

      <button><%= link_to t('candidate.show.contact'), "tel:#{@candidate.phone}" %></button>
      
      <div class="btn-show">
        <% if current_user.id == @candidate.user_id %>
        <%= link_to t('common.edit'), edit_candidate_path(@candidate), class: "btn btn-primary btn-sm" %>
        <% end %>

        <%= link_to t('common.back'), root_path, class: "btn btn-danger btn-sm" %>
      </div>

    </div>

  </div>
</div>
