<div class="container">

  <div class="row">
    <%= render "layouts/messages" %>
  </div>

  <div class="row">
    <div class="header-profile">
      <div class="col-md-2 col-xs-6">
        <div class="profile-img">
          <%= image_tag @candidate.avatar.url(:show), class: "image" %>
        </div>
      </div>

      <div class="col-md-8 col-xs-6">
        <div class="info-general">
          <h1 class="name">
            <%= @candidate.user.first_name %> <%= @candidate.user.last_name %>
          </h1>

          <div class="working-date">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            <span><%= @candidate.profession %> </span>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-xs-12">
        <div class="btn-edit">
          <% if current_user.id == @candidate.user_id %>
            <%= link_to t('common.edit'), edit_candidate_path(@candidate), class: "btn btn-primary  btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="main-profile">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item show active">
          <a class=" nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab">
            <%= t('candidate.show.profile') %>
          </a>
        </li>
        <% if (user_signed_in? && current_user.id == @candidate.user_id)|| current_user.admin? %>
        <li class="nav-item">
          <a class="nav-link" id="job-tab" data-toggle="tab" href="#job" role="tab">
            <%= t('candidate.applied_job') %>
          </a>
        </li>
        <%end%>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active in" id="profile" role="tabpanel">
          <div class="candidate-profile">
                <div class="row">
                  <div class="col-md-5">
                    <div class="fa fa-user">
                    </div>
                    <label><%= t('user.full_name')%>:</label>
                  </div>
                  <div class="col-md-5">
                    <p><%= @candidate.user.first_name %> <%= @candidate.user.last_name %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="far fa-envelope"></div>
                    <label><%= t('candidate.email')%>:</label>
                  </div>
                  <div class="col-md-5">
                    <p><%= @candidate.user.email%> <%= link_to '', "mailto:#{@candidate.phone}", class: "fa fa-paper-plane"%></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="fa fa-phone"></div>
                    <label><%= t('candidate.phone')%>:</label>
                  </div>
                  <div class="col-md-5">
                    <p><%= @candidate.phone %> <%= link_to '', "tel:#{@candidate.phone}", class: "fa fa-phone"%></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="fa fa-birthday-cake"></div>
                    <label><%= t('candidate.dob')%>:</label>
                  </div>
                  <div class="col-md-5">
                    <p><%= @candidate.date_of_birth.strftime("%d-%m-%Y")%></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="fa fa-id-card"></div>
                    <label>CV:</label>
                  </div>
                  <div class="col-md-5">
                    <%= link_to t('candidate.show.preview'), @candidate.cv.url, download: @candidate.cv.filename, target: '_blank' %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="fa fa-location-arrow"></div>
                    <label><%= t('candidate.website')%>:</label>
                  </div>
                  <div class="col-md-5">
                    <%= link_to @candidate.website, @candidate.website %>
                  </div>
                </div>
          </div>
        </div>

        <div class="tab-pane fade" id="job" role="tabpanel">
          <div class="company-jobs">
            <%= render :partial => "job_posts/card" %>
            <div class="paginate">
              <%= will_paginate @job_posts %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
